page-midconnector {

.itemborder{ border: 1px solid #4a87ee; border-radius: 3px; margin:10px; } 

.toolbar-background {
  background-color:   #387080 ;
}

.masters {
  background-color: #387080;
  color:white;
  padding: 30;
}


.whitecc{
  color: white;
}

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}



.ioconcc {
	padding-top: 27px;
}

}
