<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc"> Infiget India  Pvt. </b> <ion-icon class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     
   </ion-toolbar>

<ion-toolbar>
<ion-searchbar ></ion-searchbar>
<ion-list>
 
</ion-list>
   </ion-toolbar>


</ion-header>

<ion-content>

<ion-card (click)="productcatsubcat()">
 <ion-card-content>
 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/midconnect/products.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Show Products</b></h1>
     </ion-col>
  
    
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>

<ion-card (click)="productcatsubcat()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
 <img  style="border-radius: 0%;" src="assets/midconnect/offer.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Offer</b></h1>
     </ion-col>
  
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>



<ion-card  (click)="productcatsubcat()" >
 <ion-card-content> 

 <ion-row>
  <ion-col col-6> 
  <img  style="border-radius: 0%;" src="assets/midconnect/new.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>New Launcher</b></h1>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>




<ion-card  (click)="productcatsubcat()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/midconnect/scheme.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col>
     <h1><b>Scheme</b></h1>
     </ion-col>
    </ion-col>
</ion-row>
</ion-card-content>
</ion-card>


<ion-card (click)="productcatsubcat()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/midconnect/heart.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col>
     <h1><b>Favourite</b></h1>
     </ion-col>
    </ion-col>
</ion-row>
</ion-card-content>
</ion-card>


</ion-content>

