<!--
  Generated template for the TabPageTabletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>tabPageTablet</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content padding>
	<h1>Comming soon...</h1>
</ion-content>
