page-home {

.masters {
  background-color: #387080;
  color:white;
  padding: 30;
}


.loginbutton {
  background-color: #41f4b5;
  border-radius: 42px;
  margin-right:6px;
 
}

.ioconcc {
	padding-top: 27px;
}

.inputfield1 {
    color: white;
    float: left;
    padding: 0 10px 0 0;
}

.inputfield2{
 
	color: white;
	float: left;
	padding: 0;
}


.largetext{
   font-size: 25px;
}


.whitecc{
  color: white;
}



.my-width{
    width:200px;
  }

 .txtcentre{
    color: white;
   display: block; 
   margin: 0 auto;
 }

.inputfield{
 color:white;
 font-size:20px;
  
}

}
