<!--
  Generated template for the TabmobilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>tabmobile</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
<ion-card (click)="productdetails()">
      <ion-card-content>
        <ion-row>
          <ion-col col-6> 
            <img  style="border-radius: 0%;" src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <ion-col >
              <h1><b>Apple</b></h1>
            </ion-col>
  
            <ion-col >
              <p> The Mobile Store</p>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
	
  <!-- <ion-list> 
  
  
  
  
    <ion-card (click)="productdetails()">
      <ion-card-content>
        <ion-row>
          <ion-col col-6> 
            <img  style="border-radius: 0%;" src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <ion-col >
              <h1><b>Apple</b></h1>
            </ion-col>
  
            <ion-col >
              <p> The Mobile Store</p>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
    <ion-card (click)="midconnector()">
      <ion-card-content>
  
        <ion-row>
          <ion-col col-6> 
            <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <ion-col >
              <h1><b>Lenevo</b></h1>
            </ion-col>
  
            <ion-col >
              <p> Tara Mobile Center </p>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
  
  
    <ion-card (click)="midconnector()">
      <ion-card-content> 
  
        <ion-row>
          <ion-col col-6> 
            <img  style="border-radius: 0%;" src="assets/latest/galaxy-devices.png" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <ion-col >
              <h1><b>Samsung</b></h1>
            </ion-col>
  
            <ion-col >
              <p  > Tara Mobile Center </p>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
  
  
  
    <ion-card (click)="midconnector()">
      <ion-card-content>
  
        <ion-row>
          <ion-col col-6> 
            <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <ion-col>
              <h1><b>Lenevo</b></h1>
            </ion-col>
  
            <ion-col >
              <p>  Yukti Mobile Store </p>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
  </ion-list> -->

  dghfdghfgh
</ion-content>
