<ion-menu id="myMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
     


  <ion-card text-center class="hide-card">
    <img src="assets/user-icon.png" class="custom-avatar"/>
     <br>
    <p> <b>Welcome,Retailer</b></p>
    <hr>
</ion-card>
 



    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list ion-item *ngFor="let p of pages" (click)="openPage(p)">
      <ion-icon name="{{p.icon}}"></ion-icon>
      <button menuClose style="padding-left: 17px;">
        {{p.title}}
        </button>
        
    </ion-list>

 </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>