
<ion-header >
  <ion-navbar class="masters">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><b class="whitecc"> Registration </b></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="masters">


        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> First Name </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="firstname" ></ion-input>
        </ion-item>
   
         <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Last Name </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="lastname"></ion-input>
      </ion-item>
  
         <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Comapny/Firm Name  </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="company_name"></ion-input>
        </ion-item>
      
         <ion-item class="masters">  
          <ion-label floating><b class="whitecc"> Username </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="username"></ion-input>
        </ion-item>  
   
         <!-- <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Retailer Type </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="type"></ion-input>
                 </ion-item> -->

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Retailer Type </b></ion-label>  
          <ion-select [(ngModel)]="sRetailerType" class="inputfield" interface="action-sheet">
            <ion-option [value]="sRetailerType" *ngFor = "let sRetailerType of retailer_type">{{sRetailerType.name}}</ion-option>
        </ion-select> 

        </ion-item> 
        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Distributor Code </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="unique_code" [maxlength]="6" (keypress)="brandbydistributorcode()"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Brands </b></ion-label>  
          <ion-select class="inputfield" interface="action-sheet">
            <ion-option *ngFor="let item of branddetails">{{item.name}}</ion-option>
          </ion-select> 
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Contact Person Name </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="contact_name"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Contact Person Mobile </b></ion-label>
          <ion-input type="number" class="inputfield" [(ngModel)]="contact_phone"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Password </b></ion-label>
          <ion-input type="password" class="inputfield" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Email Address </b></ion-label>
          <ion-input type="email" class="inputfield" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Address 1 </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="address1"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Address 2 </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="address2"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Area/Zone </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="area"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> State </b></ion-label>  
          <ion-select (ionChange)="setCityValues(sState)" [(ngModel)]="sState" class="inputfield" interface="action-sheet">
            <ion-option [value]="sState" *ngFor = "let sState of states">{{sState.name}}</ion-option>
          </ion-select> 
        </ion-item>     
<!--  checked="{{item.checked}}" -->    

        <ion-list *ngIf="selectedCities">
          <ion-item class="masters">
            <ion-label floating><b class="whitecc"> City </b></ion-label>  
            <ion-select class="masters" [(ngModel)]="sCity" interface="action-sheet" class="inputfield">
              <ion-option [value]="city" *ngFor = "let city of selectedCities">{{city.name}}</ion-option>
            </ion-select>   
          </ion-item> 
        </ion-list>  


        <!-- <ion-item>
             <ion-label>State</ion-label>
             <ion-select (ionChange)="setDistrictValues(sState)" [(ngModel)]="sState">
          <ion-option [value]="sState" *ngFor = "let sState of states">{{sState.name}}  </ion-option> 
            </ion-select>
          
         </ion-item>
        <ion-item *ngIf="selectedDistricts">
              <ion-label>District</ion-label>
              <ion-select (ionChange)="setCityValues(sDistrict)" [(ngModel)]="sDistrict">
            <ion-option [value]="sDistrict" *ngFor = "let sDistrict of selectedDistricts">{{sDistrict.name}}</ion-option>
              </ion-select>
         </ion-item>
        <ion-list *ngIf="selectedCities">
              <ion-item *ngFor="let city of selectedCities">
            <p>{{city.name}}</p>  
              </ion-item>
        </ion-list> -->


        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Pincode </b></ion-label>
          <ion-input type="text" class="inputfield" [(ngModel)]="pincode"></ion-input>
        </ion-item>


       <br>
       <button ion-button  full  color="secondary" (click)="doRegister()" class="loginbutton" >Register Me</button>

      <ion-item no-lines class="masters">
      <ion-row>
        <button ion-button class="txtcentre" (click)="goBack()"  clear small>Already Register</button>
      </ion-row>

       </ion-item>

  </ion-content>
