<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc"> Infiget India  Pvt. </b> <ion-icon class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     <ion-searchbar ></ion-searchbar>
   </ion-toolbar>
</ion-header>

<ion-content>



<super-tabs style="height: 80%" [config]="{ sideMenu: 'left' }" [toolbarColor]="'primary'">
      <super-tab [root]="page1" [title]="showTitles? 'page1' : ''" [icon]="showIcons? 'home': ''"></super-tab>
      <super-tab [root]="page2" [title]="showTitles? 'Page2' : ''" [icon]="showIcons? 'pin' : ''"></super-tab>
      <super-tab [root]="page3" [title]="showTitles? 'page3' : ''" [icon]="showIcons? 'heart' : ''"></super-tab>
    </super-tabs>

<!-- <super-tabs [config]="{ sideMenu: 'left' }" [toolbarColor]="'primary'" indicatorColor="light" badgeColor="light">
      <super-tab [root]="page1" [title]="showTitles? 'Mobile' : ''" [icon]="showIcons? '': ''"></super-tab>
      <super-tab [root]="page2" [title]="showTitles? 'Accessories' : ''" [icon]="showIcons? '' : ''"></super-tab>
      <super-tab [root]="page3" [title]="showTitles? 'Tablet' : ''" [icon]="showIcons? '' : ''"></super-tab>
    </super-tabs> -->



  <!-- <ion-list >
   
  
  
  
  <ion-card (click)="productdetails()">
   <ion-card-content>
   <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Apple</b></h1>
     </ion-col>
  
     <ion-col >
    <p> The Mobile Store</p>
     </ion-col>
  </ion-col>
  </ion-row>
  </ion-card-content>
  </ion-card>
  
  
  </ion-list> -->














  
</ion-content>

