page-productcatsubcat {

itemborder{ border: 1px solid #4a87ee; border-radius: 3px; margin:10px; } 

.toolbar-background {
  background-color:   #387080 ;
}
.title.text.text-md.text-md-primary{
  color: #FFFFFF
}
.masters {
  background-color: #387080;
  color:white;
  padding: 30;
}

.submasters {
  background-color: #386170;
  color:white;
  padding: 30;
}

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}



.whitecc{
  color: white;
}



.ioconcc {
	padding-top: 27px;
}

.segment-md .segment-button {
  color: #ffffff;
}

.segment-md .segment-button.segment-activated {
    border-color: #fff;
    opacity: 1;
}

}
