<!--
  Generated template for the TabPageAccessoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>tabPageAccessory</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
	<h1>Comming soon...</h1>
</ion-content>
