<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc"> Infiget India  Pvt. </b> <ion-icon class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     
   </ion-toolbar>

<!-- <ion-toolbar>
<ion-searchbar ></ion-searchbar>
<ion-list>
 
</ion-list>
   </ion-toolbar> -->


</ion-header>

<ion-content style="background-color: #E9ECF3; padding-right: 20px;">
	<ion-card>
		<ion-card-content>
 			<ion-row >
  			<ion-col col-md-12 style="padding-bottom: 50px;"> 
   			<img class="center" src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg"/>
  			</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-md-4 class="border" style="padding: 0px;">
					<img src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
				</ion-col>
				<ion-col col-md-4 class="border" style="padding: 0px;">
					<img src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
				</ion-col>
				<ion-col col-md-4 class="border" style="padding: 0px;">
					<img src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-md-12>
					<h1 style="padding-bottom: 10px;">Specification</h1>
					<p style="padding-bottom: 10px;"><b>Storage:</b>32GB</p>
					<p style="padding-bottom: 10px;"><b>Battery:</b>4100mAh</p>
					<p style="padding-bottom: 10px;"><b>Warranty:</b> 1 year </p>
					<p style="padding-bottom: 10px;"><b>Primary Camera:</b>5MP</p>
					<p style="padding-bottom: 10px;"><b> Secondary Camera:</b> 8MP </p>
					<p style="padding-bottom: 10px;"><b> Processor: </b> quadcore </p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-md-12>
					<h1 style="padding-bottom: 10px;">Special Offer</h1>
					<p style="padding-bottom: 10px;">Get 250 Rs.Cashback on online payment</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<button ion-button class="cart" (click)="cartdetails()">Add to Cart</button>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>