page-productdetails {

.whitecc{
  color: white;
}

.itemborder{ border: 1px solid #4a87ee; border-radius: 3px; margin:10px; } 

.toolbar-background {
  background-color:   #387080 ;
}

.img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.button.cart {
    background-color: #36c6d3;
    font-size: 18px;
    height: 54px;
    line-height: 54px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.ion-col.border {
	 width: 75px;
    height: 75px;
    border: 1px solid black;
}

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}


}
