<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc"> Infiget India  Pvt. </b> <ion-icon class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     
   </ion-toolbar>

<ion-toolbar>
<ion-searchbar ></ion-searchbar>
<ion-list>
 
</ion-list>
   </ion-toolbar>


</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-row >
				<ion-col col-md-6>
					<img src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" />
				</ion-col>
				<ion-col col-md-6 >
					<ion-col col-md-2 >
					<button ion-button icon-start class="btn" (click)="removeAmount()" style="float:left; width:63px;">
  						<ion-icon name="remove"></ion-icon>
					</button>
					</ion-col>
					<ion-col col-md-2>
					<ion-item>
        				<ion-input type="text" name="title" value={{amount}}></ion-input>
      				</ion-item>
      				</ion-col>
      				<ion-col col-md-2 >
					<button ion-button icon-start class="btn" (click)="addAmount()" style="float:left; width:63px;">
  						<ion-icon name="add"></ion-icon>
					</button>
				</ion-col>
				</ion-col>			
			</ion-row>
		</ion-card-content>
	</ion-card>
	
		<ion-row>
			<button ion-button >Finalise Item</button>
		</ion-row>
	
</ion-content>
