page-cartdetails {

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}

.itemborder{ border: 1px solid #4a87ee; border-radius: 3px; margin:10px; } 

.toolbar-background {
  background-color:   #387080 ;
}

.whitecc{
  color: white;
}

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}

.col > img {
    float: left;
    height: 120px;
    width: auto;
}

.button.btn{
	background-color: #36c6d3;
}

}
